$rowo-green: #a2c617;

/* Fonts */

@font-face {
  font-family: 'MarkOT';
  font-style: normal;
  font-weight: normal;
  src: local('MarkOT'),
    local('Mark OT'),
    url('../fonts/MarkOT.otf') format('opentype');
}

body {
	font-family: 'MarkOT', 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
}


/* Corporate Design: Login-Screen */

#body-login {
	background-color: $rowo-green;
	background-image: url('../img/background.jpg');
}

.warning,
#body-login .error,
.update,
.msg {
	background-color: transparent;
	border: none;
	color: white;
	font-weight: 900;
	margin: 5px;
}

a.warning,
#body-login a.error {
	background-color: rgb(124,124,124);
	border-radius: .5rem;
	border: 1px solid rgb(124,124,124);
	margin: 5px;
}

a.warning:hover {
	background-color: rgb(60,60,60);
}

/* Corporate Design */

#header .logo {
	background-image: url('../img/logo.png');
	background-size: 269px;
	width: 269px
}

#nextcloud {
  padding-left: 154px;
}

#header .logo.logo-icon {
  background-image: url('../img/logo-icon.png');
  background-size: 130px;
	width: 130px;
  height: 31px;
}

input[type='checkbox'].radio:not(:disabled):not(:checked) + label:hover:before,
input[type='radio'].radio:not(:disabled):not(:checked) + label:hover:before,
input[type='checkbox'].checkbox:not(:disabled):not(:checked) + label:hover:before
,input[type='radio'].checkbox:not(:disabled):not(:checked) + label:hover:before,
input[type='checkbox'].radio:focus + label:before,
input[type='radio'].radio:focus + label:before,
input[type='checkbox'].checkbox:focus + label:before,
input[type='radio'].checkbox:focus + label:before {
	border-color:$rowo-green;
}

input[type='checkbox'].radio:checked + label:before,
input[type='radio'].radio:checked + label:before,
input[type='checkbox'].checkbox:checked + label:before,
input[type='radio'].checkbox:checked + label:before,
input[type='checkbox'].radio.checkbox:indeterminate + label:before,
input[type='radio'].radio.checkbox:indeterminate + label:before,
input[type='checkbox'].checkbox.checkbox:indeterminate + label:before,
input[type='radio'].checkbox.checkbox:indeterminate + label:before {
	background-color:$rowo-green;
	border-color:$rowo-green;
}

#app-popup .background .window .title {
	background-color: $rowo-green;
}

button.primary {
	background-color: $rowo-green;
}

button.primary:hover {
	background-color: $rowo-green!important;
	color: #6d6d6d;
}

select:not(:disabled):not(.primary):not(#quota):hover,
button:not(:disabled):not(.primary):not(#quota):hover,
.button:not(:disabled):not(.primary):not(#quota):hover,
input:not([type='range']):not(:disabled):not(.primary):not(#quota):hover,
textarea:not(:disabled):not(.primary):not(#quota):hover,
#quota:not(:disabled):not(.primary):not(#quota):hover,
.pager li a:not(:disabled):not(.primary):not(#quota):hover,
select:not(:disabled):not(.primary):focus,
button:not(:disabled):not(.primary):focus,
.button:not(:disabled):not(.primary):focus,
input:not([type='range']):not(:disabled):not(.primary):focus,
textarea:not(:disabled):not(.primary):focus,
#quota:not(:disabled):not(.primary):focus,
.pager li a:not(:disabled):not(.primary):focus,
select:not(:disabled):not(.primary).active,
button:not(:disabled):not(.primary).active,
.button:not(:disabled):not(.primary).active,
input:not([type='range']):not(:disabled):not(.primary).active,
textarea:not(:disabled):not(.primary).active,
#quota:not(:disabled):not(.primary).active,
.pager li a:not(:disabled):not(.primary).active {
	border-color: $rowo-green;
}

input.primary,
#alternative-logins li a.button,
#body-login input#submit {
	background-color: rgb(124,124,124);
	border-radius: .5rem;
	border: 1px solid rgb(124,124,124);
	color: white;
	padding: .8rem 1.5rem;
	text-align: center;
	margin: 5px;
}

input.primary:hover,
#alternative-logins li a.button:hover,
#body-login input#submit:hover {
	background-color: rgb(60,60,60);
}

#appmenu li a {
	opacity: 0.75;
}


/* App: Files */

.app-files #app-navigation li.nav-sharinglinks,
.app-files #app-navigation li.nav-sharingout,
.app-files #app-navigation li.nav-sharingin {
  display: none;
}


/* App: Group Folders */

tr[data-mounttype="group"][data-type="dir"] div.thumbnail {
	background-image: url('../../apps/groupfolders/img/folder-group.svg') !important;
}

tr[data-mounttype="group"][data-type="dir"] td.filesize,
#filestable tfoot td.filesize {
	font-size: 0;
}


/* App: Registration */

#alternative-logins legend {
	display: none;
}

#alternative-logins li {
	width: 100%;
}

#alternative-logins li a.button {
	box-sizing: border-box;
	display: inline-block;
	width: 269px;
}


/* App: News */

.app-news #app-navigation > ul > li.explore-feed {
	display: none;
}


/* Spezial-Regeln */

/* Anleitung fett */
#filestable tr[data-id="210286"] span.innernametext {
	font-weight: bold;
}


/* Überflüssiges ausblenden */

#navigation li[data-id="gallery"],
#appmenu li[data-id="gallery"] {
  display: none;
}

.remember-login-container,
#body-settings .ransomware-protection,
#body-settings #nav-icon-ransomware-protection {
	display: none;
}
